# Include all tests
recursive-include tests *.py
include bin/*
include conf/*.dist
include selinux/Makefile
include selinux/cepces.fc
include selinux/cepces.te
include selinux/cepces.if
include LICENSE.GPLv3
include LICENSE.LGPLv3
include *.rst
