# Include all tests
recursive-include tests *.py
recursive-include packaging
include bin/*
include conf/*.dist
include selinux/Makefile
include selinux/cepces.fc
include selinux/cepces.te
include selinux/cepces.if
include LICENSE
include *.rst
