[global]
# URI of the service.
endpoint=https://ca/ADPolicyProvider_CEP_Kerberos/service.svc/CEP

# Specify the authentication type to use. This should be one of:
#
#  * anonymous (not implemented): no authentication
#  * kerberos: Transport level kerberos authentication. Also known as "Windows
#              integrated authentication".
#  * basic (not implemented): Username and password authentication
#  * x509 (not implemented): X.509 client certificate authentication
authentication=kerberos

# Path to a CA bundle or directory containing certificates. Specifying False
# disabled SSL verification.
#
# Note: Directories are supported starting with python-requests 2.9 and later.
cas=/etc/pki/tls/certs/ca-bundle.crt
