[global]
# Hostname of the Certificate Enrollment Policy (CEP) Server.
# Used to construct the URL to the CEP endpoint.
#
# Default: ca
server=ca

# This is the endpoint type. It can be either "Policy" where the server
# endpoint specified later will be used to look up enrollment endpoints, or it
# can be "Enrollment" to specify a direct endpoint (bypassing XCEP
# altogether.)
type=Policy

# This is the authentication mechanism used for connecting to the service
# endpoint. The following options are available:
#
# * Anonymous
#             Anonymous authentication (i.e. no authentication at all.) This
#             is discouraged and untested. It is only included for completness
#             as defined in the MS-XCEP specification.
# * Kerberos
#             Transport level authentication. This is the default where the
#             authentication is performed in the HTTP(s) layer.
# * UsernamePassword
#             Message level authentication. The credentials are used in the
#             message header for authentication.
# * Certificate
#             Transport level authentication. A client certificate is used
#             for TLS client authentication in the HTTPS layer.
#
# Default: Kerberos
auth=Kerberos

# This is the final URL of the Policy Provider endpoint.
#
# Default: https://${server}/ADPolicyProvider_CEP_${auth}/service.svc/CEP
endpoint=https://${server}/ADPolicyProvider_CEP_${auth}/service.svc/CEP

# Path to a CA bundle or directory containing certificates. If not specified,
# the system default is used. If set to an empty value, verification is
# bypassed. This is strongly discouraged.
#
# Please note that directories are supported starting with python-requests 2.9.
#
# Default: <not defined>
#cas=

# Time in seconds before re-checking if the certificate has been issued
poll_interval=3600

# This is the OpenSSL cipher string to use for HTTPS connections.
# If not set, the default system cipher configuration will be used.
#
# Only set this option if you cannot use crypto-policies for your use case.
# Example to use DEFAULT ciphers and enable SHA1:
#   openssl_ciphers=DEFAULT:@SECLEVEL=1
#
# Default: <not set>
#openssl_ciphers=

# Display server to use for graphical credential prompts
# (pinentry/kdialog/zenity).
# The system will automatically detect whether this is an Xorg or Wayland
# display based on the format:
#   - Xorg displays: :0, :1, :0.0 (sets DISPLAY environment variable)
#   - Wayland displays: wayland-0, wayland-1 (sets WAYLAND_DISPLAY)
# If not specified, the existing DISPLAY or WAYLAND_DISPLAY environment
# variables will be used.
#
# Default: <not defined>
#display=:0

[user]
# Key file path for the user cert auto rollout and monitoring script.
#
# Default: ~/key.pem
key_file=~/key.pem

# Cert file path for the user cert auto rollout and monitoring script.
#
# Default: ~/cert.pem
cert_file=~/cert.pem

# Cert request cookie file path with infos necessary for polling the cert after approval.
#
# Default: ~/cert.req
req_file=~/cert.req

# Profile (certificate template) name to use for the user cert auto rollout.
# Ask your CA admin what to choose or have a look at `cepces-user list-templates`.
profile=User

# Time in days before expiration when to request a new certificate.
#
# Default: 30
renew_days=30

# RSA key size (will be generated if key_file does not exists)
#
# Default: 4096
key_size=4096

[kerberos]
# Use the specified keytab. If unspecified, the system default is used.
#
# Default: <not defined>
#keytab=

# An optional explicit realm to use. If unspecified, the default system realm
# is used.
#
# Default: <not defined>
#realm=

# Initialize a credential cache. If this is disabled, a valid credential cache
# is required prior launching the application. If enabled, a temporary
# in-memory cache is created, and released when the application ends.
#
# Default: True
ccache=True

# A list of principals to try when requesting a ticket.
#
# Default: <empty list>
principals=
  ${shortname}$$
  ${SHORTNAME}$$
  host/${SHORTNAME}
  host/${fqdn}

# A list of encryption types to use.
#
# Default: <not defined>
enctypes=
  des-cbc-crc
  des-cbc-md5
  arcfour-hmac
  aes128-cts-hmac-sha1-96
  aes256-cts-hmac-sha1-96

# When the webenrollment services and the CA aren't installed on the same
# machine you will get a access denied error if kerberos delegation is
# disabled. This is enabled by default.
#
# Default: True
delegate=True

[certificate]
# Use the following client certificate,
# given as OpenSSL format certificate file.
# The issuer CA certificate of this client certificate must be included
# in the AD NTAuth container.
#
# Default: <not defined>
#certfile = /path/to/openssl-certfile.pem

# Use the following client certificate key,
# given as OpenSSL format private key file without passphrase protection.
#
# Default: <not defined>
#keyfile = /path/to/openssl-keyfile.pem

[usernamepassword]
# Specify custom keyring service or use default.
# Interactive prompt will be shown on default screen when username or
# password is empty. Then credentials will be stored in the kernel keyring
# using keyctl utility.
#
# Name of service for kernel keyring key description
#
# Default: cepces
#keyring_service = cepces

# Use the following AD username in UPN notation.
# When empty, interactive prompt is shown to save credentials in kernel keyring.
# Should be then set in config.
#
# Default: <not defined>
#username = user@your-ad.local

# Use the following AD password.
# Omit if using kernel keyring (keyctl).
# If kernel keyring key for username does not exist and both username and
# password are specified, they will be used.
#
# Default: <not defined>
#password = ADpassword
