# Configuration file for cepces-submit, used with certmonger.

# Should debugging be enabled?
#DEBUG=false

# Should a Kerberos ticket-granting ticket be obtained?
# Default: true
KINIT=true

# Should a default realm be appended to the principal?
# Default: <Empty>
#KINIT_REALM=

# What keytab should be used to obtain a ticket-granting ticket?
# Default: /etc/krb5.keytab
KINIT_KEYTAB=/etc/krb5.keytab

# What principal should be used? If this is empty, some guesses will be
# attempted.
# Default: <Empty>
#KINIT_PRINCIPAL=

# Should a ticket-granting ticket be obtained even if a valid one is present?
# Default: false
KINIT_FORCE=false

# Should the ticket-granting ticket be destroyed upon completion? It will only
# be destroyed if it was obtained by cepces-submit.
# Default: true
KINIT_CLEANUP=true
