policy_module(cepces, 0.1)

require {
	type certmonger_t;
	type hostname_exec_t;
	type tmp_t;
	type ldconfig_exec_t;
	class file { write create unlink read open getattr setattr execute
	             execute_no_trans  };
	class dir { write remove_name add_name };
}

gen_tunable(certmonger_hostname, true)
gen_tunable(certmonger_tmp, true)
gen_tunable(certmonger_ldconfig, true)

tunable_policy(`certmonger_hostname', `
    allow certmonger_t hostname_exec_t:file { read getattr open execute execute_no_trans };
')

tunable_policy(`certmonger_tmp', `
	allow certmonger_t tmp_t:file { write create unlink read open getattr setattr };
    allow certmonger_t tmp_t:dir { write remove_name add_name };
')

tunable_policy(`certmonger_ldconfig', `
    allow certmonger_t ldconfig_exec_t:file { read getattr open execute execute_no_trans };
')
