policy_module(cepces, 0.3.2)

require {
    type certmonger_t;
    type kernel_t;
    type ldconfig_exec_t;
}

type cepces_log_t;
logging_log_file(cepces_log_t)

allow certmonger_t cepces_log_t:dir { add_name search write };
allow certmonger_t cepces_log_t:file { create open };

allow certmonger_t kernel_t:system module_request;
allow certmonger_t ldconfig_exec_t:file { read execute open execute_no_trans };
