---
name: Run Python Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get install libkrb5-dev
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions
      - name: Test with tox
        run: tox

  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv:
          - "lint"
          - "format"
          - "type"
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get install libkrb5-dev
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions
      - name: "Run tox for ${{ matrix.toxenv }}"
        run: "tox -e ${{ matrix.toxenv }}"
